body {
    color: $black;
    font-size: 18px;
    position: relative;
}

.btn.btn-primary {
    background-color: $primary-color;
    border-radius: 0;
    border: 1px solid $primary-color;
    transition: 0.4s;

    &:active,
    &:focus,
    &:hover {
        border-color: $primary-color;
        background-color: transparent;
        color: $primary-color;
    }
}

.page-title {
    h1 {
        color: $primary-color;
    }
}

.card-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    .card-header {
        overflow: hidden;
        cursor: pointer;

        img {
            transition: 0.4s;
            height: 400px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }

    .card-body {
        .title {
            text-decoration: none;
            color: $black;
        }
    }


    .delete-btn {
        z-index: 1;
        cursor: pointer;
        position: absolute;
        right: 30px;
        top: 15px;

        .fa-times {
            &::before {
                color: $primary-color;
                font-size: 22px;
            }
        }
    }

    .title {
        font-size: 24px;
    }
}

.modal {
    .modal-dialog {
        max-width: 1000px;
        width: 100%;
    }
}

.loader {
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 50px;
        height: 50px;
        margin: auto;
        display: none;
        background-size: cover;
        content: "";
        background-image: url(../../public/files/images/loader.gif);
    }
}

form {
    text-align: center;

    .form-group {
        padding: 15px;
    }

    .form-control {
        border-radius: 0;
    }
}

.close {
    cursor: pointer;
}

.product-landing {

    img,
    .content-wrapper {
        height: auto;
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    .product-landing {

        img,
        .content-wrapper {
            max-width: unset;
            width: 100%;
        }
    }

}